*~
*.elc
/Makefile
/autom4te.cache
/confdefs.h
/config.cache
/config.log
/config.status*
/configure
/emacs-w3m-*.tar.gz
/w3m-kwds.el
/w3m-load.el
/doc/Makefile
/doc/emacs-w3m*.dvi
/doc/emacs-w3m*.info
/doc/emacs-w3m*.info-[0-9]*
/doc/missfont.log
/doc/version.texi
/shimbun/shimbun-servers.el
